.table-custom {
    font-size: 0.9em;
}

.table-custom tbody th {
    color: limegreen;
}

.table-custom tbody tr {
    background-color: white;
}

.table-custom tbody tr td {
    transition: .2s;
    text-shadow: none;
    min-width: 90px;
}

.table-custom thead tr th:first-child {
    max-width: 90px;
}

.table-custom tfoot tr td {
    padding: 8px 2px 2px 2px;
}

.btn-group-custom .btn {
    font-size: 0.55em;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 1px 2px;
}
